{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Galtech Learning</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/aos.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/icofont.min.css" %}">
    <link rel="stylesheet" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">


    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            document.documentElement.classList.add("is_dark");
        }
        if (localStorage.getItem("theme-color") === "light") {
            document.documentElement.classList.remove("is_dark");
        } 
    </script>

</head>

<!-- Dark/Light area start -->
<div class="mode_switcher my_switcher">
    <button id="light--to-dark-button" class="light align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon dark__mode" viewBox="0 0 512 512">
            <path
                d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon light__mode" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
                d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94" />
            <circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-miterlimit="10" stroke-width="32" />
        </svg>

        <span class="light__mode">Light</span>
        <span class="dark__mode">Dark</span>
    </button>
</div>
<!-- Dark/Light area end -->

<body class="body__wrapper"></body>

<main class="main_wrapper overflow-hidden">
    
    <!-- Include announcement bar -->

    <div class="topbararea topbararea--2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="topbar__left">
                        <ul>
                            <li>
                                Call Us: +91 70127 16483
                            </li>
                            <li>
                                - Mail Us: info@galtechlearning.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="topbar__right">
                        <div class="topbar__icon">
                            <i class="icofont-location-pin"></i>
                        </div>
                        <div class="topbar__text">
                            <p>First Floor, Oregano Tower, Koratty Junction, Thrissur</p>
                        </div>
                        <div class="topbar__list">
                            <ul>
                                <li>
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="twitter">𝕏</i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Include navbar -->
    {% include 'include/nav.html' %}

    
    <div>
        <div class="theme__shadow__circle"></div>
        <div class="theme__shadow__circle shadow__right"></div>
    </div>
    
    <!-- Main content -->
    {% block 'dashboard' %}{% endblock %}
    {% block 'student_profile' %}{% endblock %}
    {% block 'course' %}{% endblock %}
    {% block 'enrolled_course' %}{% endblock %}
    {% block 'login' %}{% endblock %}
    {% block 'student_settings' %}{% endblock %}
    {% block 'course_details' %}{% endblock %}
    {% block 'lessons' %}{% endblock %} 
    {% block 'checkout' %}{% endblock %}
    {% block 'cart' %}{% endblock %}

    <!-- End main content -->
    
    
    <!-- Include footer -->
    {% include 'include/footer.html' %}




</main>

    <!-- JS here -->
    <script src="{%static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
    <script src="{%static "js/vendor/jquery-3.6.0.min.js" %}"></script>
    <script src="{%static "js/popper.min.js" %}"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
    <script src="{%static "js/isotope.pkgd.min.js" %}"></script>
    <script src="{%static "js/slick.min.js" %}"></script>
    <script src="{%static "js/jquery.meanmenu.min.js" %}"></script>
    <script src="{%static "js/ajax-form.js" %}"></script>
    <script src="{%static "js/wow.min.js" %}"></script>
    <script src="{%static "js/jquery.scrollUp.min.js" %}"></script>
    <script src="{%static "js/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{%static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{%static "js/waypoints.min.js" %}"></script>
    <script src="{%static "js/jquery.counterup.min.js" %}"></script>
    <script src="{%static "js/plugins.js" %}"></script>
    <script src="{%static "js/swiper-bundle.min.js" %}"></script>
    <script src="{%static "js/main.js" %}"></script>

<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.getElementById("light--to-dark-button")?.classList.add("dark--mode");
    }
    if (localStorage.getItem("theme-color") === "light") {
        document.getElementById("light--to-dark-button")?.classList.remove("dark--mode");
    } 
</script>

</body>

</html>