{% extends "include/layout.html" %}
{% load static %}
{% block 'lessons' %}
    <div class="tution sp_bottom_100 sp_top_50">
        <div class="container-fluid full__width__padding">
            
            <div class="row">
                {% for x in course.lessons_set.all %}
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    
                    <div class="accordion content__cirriculum__wrap" id="accordionExample">
                            
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{ x.lesson_title }}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <div class="scc__wrap">
                                        <div class="scc__info">
                                            <i class="icofont-video-alt"></i>
                                            <h5> <a href="lesson.html"><span>Course Intro</span></a></h5>
                                        </div>
                                        <div class="scc__meta">
                                            <strong>3.27</strong>
                                            <a href="lesson.html"><span class="question"><i class="icofont-eye"></i> Preview</span></a>
                                                
                                        </div>
                                    </div>
                                    <div class="scc__wrap">
                                        <div class="scc__info">
                                            <i class="icofont-video-alt"></i>
                                            <h5> <a href="lesson-2.html"><span>Course Outline</span></a></h5>
                                        </div>
                                        <div class="scc__meta">
                                            <strong>5.00</strong>
                                            <a href="lesson-2.html"><span class="question"><i class="icofont-eye"></i> Preview</span></a>
                                                
                                        </div>
                                    </div>
                                    <div class="scc__wrap">
                                        <div class="scc__info">
                                            <i class="icofont-file-text"></i>
                                            <h5> <a href="lesson-course-materials.html"><span>Course Materials</span></a></h5>
                                        </div>
                                    </div>
                                    <div class="scc__wrap">
                                        <div class="scc__info">
                                            <i class="icofont-audio"></i>
                                            <h5>  <a href="lesson-quiz.html"><span>Summer Quiz</span></a></h5>
                                        </div>
                                    </div>

                                    <div class="scc__wrap">
                                        <div class="scc__info">
                                            <i class="icofont-file-text"></i>
                                            <h5><a href="lesson-assignment.html"><span>Assignment</span></a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                             
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">					
                    <div class="lesson__content__main">
                        <div class="lesson__content__wrap">
                            <h3>{{ x.lesson_title }}</h3>
                            <span><a href="course-details.html">Close</a></span>
                        </div>
                          
                        <div class="plyr__video-embed rbtplayer">
                            {% for v in x.video_set.all %}
                            <iframe src="https://www.youtube.com/embed/{{ v.video_upload_url }}" allowfullscreen allow="autoplay"></iframe>       
                            {% endfor %}
                        </div>
                        
                    </div>
                   
                </div>
                
                
                {% endfor %}  
            </div>
            
        </div>
        
    </div>
        
{% endblock %} 